layout {

   tab name="Firebase Code" {
     pane split_direction="horizontal" size="80%" {
       name "Code"
       command "vi"
       focus true 
     }
     pane {
       name "Emulator"
     }
   }
}
