layout {

   tab name="ML Server" {
     pane split_direction="horizontal" size="80%" {
       name "Ollama Server"
       command "ollama"
       args "serve"
     }
     pane {
       name "Terminal"
     }
   }

   tab name="ML Input" {
     pane split_direction="horizontal" size="80%" {
       name "Ollama UI"
       command "ollama"
       args "run" "gemma2:2b"
       start_suspended true
       focus true 
     }
     pane {
       name "Ollama Model"
     }
   }	
}
